<%= form_with(model: devoir, local: true) do |form| %>
  <% if devoir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(devoir.errors.count, "error") %> prohibited this devoir from being saved:</h2>

      <ul>
      <% devoir.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :matiere_id %>
    <%= form.collection_select :matiere_id, Matiere.all, :id, :nom %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :devoir_description %>
  </div>

  <div class="field">
    <%= form.label :etat_id %>
    <%= form.collection_select :etat_id, Etat.all, :id, :nom %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :devoir_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
