<div class="full" style="color:black">
  <div class="container">
    <div class="log">
      <h1 style="color:black">Log In</h1>
       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form class="form-signin">
      <label class="sr-only">E-mail</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "E-mail" %><br>
      <label class="sr-only">Password</label>
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Mot de passe" %><br>
      <div class="but"><%= f.submit "Log in" %></div>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <div class="button-default">
      <%= link_to "Sign up", new_registration_path(resource_name) %><br />
      <% end -%>
      </div>
    </div>
    </form>
    <% end %>
  </div>
</div>

