<%= render 'delog' unless user_signed_in? %>
<%if user_signed_in?%>
  <%if @matieres.empty?%>
  <%= render 'firstime' %>
  <% else %>


    <div class="container text-center mt-4">
      <h2>Tes matières :</h2>
        <div class="le-bg mt-4 d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 topbar shadow-lg">
        <% @matieres.each do |matiere| %>
          <%= link_to  matiere do %>
            <div class="cardpart align-items-center">
              <ul>
                <li>
                    <h2><%= matiere %></h2>
                    <p>Tu as </p> <div class="font"> <b> <%= @matieres.count %> </b> </div><p>  devoirs à rendre !</p>
                  </a>
                </li>
              </ul>
            </div>
          <% end %>
        <% end %>
        <%= link_to "",new_matiere_path, class:"logadd" %>
    </div>
    <% if @matieres.any? %>
      <%= link_to "Ajouter des devoirs", new_devoir_path, class:"btn btn-primary p-2 mt-2" %>
    <% end %>
  </div>



  <% end %>
<% end %>

