<div class="container d-flex justify-content-center mt-4 mb-4 upper">
  <p><%= @matiere.name %></p>
</div>
<div class="conteneur">
  <div class="tabledev">
    <div class="afaire">
      <div class="title">
        <p>A faire :</p>
      </div>
    <% @devoirs.each do |devoir| %>
      <% if devoir.etat == "A faire"%>
      <%= link_to devoir do %>
        <div class="card-head">
        <h5 class="devoir-title"> ܍  <%= devoir.title %></h5></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="encours">
    <div class="title">
    <p>En cours :</p>
    </div>
      <% @devoirs.each do |devoir| %>
      <% if devoir.etat == "En cours"%>
      <%= link_to devoir do %>
        <div class="card-head">
            <h5 class="devoir-title">܍  <%= devoir.title %></h5>
          </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <div class="fait">
    <div class="title">
      <p>Fait :</p>
    </div>
        <% @devoirs.each do |devoir| %>
      <% if devoir.etat == "Fait"%>
      <%= link_to devoir do %>
          <div class="card-head">
            <h5 class="devoir-title">܍  <%= devoir.title %></h5>
          </div>
        </div>
        </div>
        <% end %>
      <% end %>
    <% end %>


  </div>

  </div>
  <div class="container text-center mt-5">
    <%= link_to "Retour", matieres_path, class:"btn btn-defaut" %>
    <%= link_to "Supprimer", matiere_path(@matiere.id), method: :delete, class:"btn btn-danger" %>
  </div>

