<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @matiere.nom %>
</p>

<p>
  <strong>Color:</strong>
  <%= @matiere.color %>
</p>


<%= link_to 'Edit', edit_matiere_path(@matiere) %> |
<%= link_to 'Back', matieres_path %>
