<div class="container">
  <h2><%= @matiere.name %></h2>

  <div class="tabledev">
    <div class="afaire">
      <h3>A faire :</h3>
    <% @devoirs.each do |devoir| %>
      <% if devoir.etat == "A faire"%>
      <%= link_to devoir do %>
        <div class="card-head" style="background-color:<%=devoir.matiere.color%>; color:white;">
        <h5 class="card-title"><%= devoir.matiere %></h5></div>
        <div class="card card-path">
          <div class="card-body" >
            <p class="card-text"><%= devoir.description %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="encours">
    <h3>En cours :</h3>
      <% @devoirs.each do |devoir| %>
      <% if devoir.etat == "En cours"%>
      <%= link_to devoir do %>
        <div class="card card-path">
          <div class="card-body">
            <h5 class="card-title"><%= devoir.matiere %></h5>
            <p class="card-text"><%= devoir.description %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <div class="fait">
    <h3>Fait :</h3>
        <% @devoirs.each do |devoir| %>
      <% if devoir.etat == "Fait"%>
      <%= link_to devoir do %>
        <div class="card card-path">
          <div class="card-body">
            <h5 class="card-title"><%= devoir.matiere %></h5>
            <p class="card-text"><%= devoir.description %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>


  </div>

  </div>
  <div class="container text-center">
    <%= link_to "Retour", matieres_path, class:"btn btn-defaut" %>
    <%= link_to "Supprimer", matiere_path(@matiere.id), method: :delete, class:"btn btn-danger" %>
  </div>
